@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 768px) {
    max-width: 768px;
    padding-inline: 2.5rem;
  }
  @media (width >= 826px) {
    max-width: 826px;
  }
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-light: hsl(var(--foreground-light));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-hover: hsl(var(--secondary-hover));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--tertiary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-scrollbar: hsl(var(--scrollbar));

  --color-carbon-blue: #373b53;

  --color-green: #33d69f;

  --color-orange: #ff8f00;

  --color-grey: #979797;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --text-xl: 2.25rem;
  --text-xl--line-height: 2.0625rem;
  --text-xl--letter-spacing: -1px;
  --text-xl--font-weight: 700;
  --text-lg: 1.5rem;
  --text-lg--line-height: 1.375rem;
  --text-lg--letter-spacing: -0.75px;
  --text-lg--font-weight: 700;
  --text-md: 0.9375rem;
  --text-md--line-height: 1.5rem;
  --text-md--letter-spacing: -0.25px;
  --text-md--font-weight: 700;
  --text-sm: 0.9375rem;
  --text-sm--line-height: 15px;
  --text-sm--letter-spacing: -0.25px;
  --text-sm--font-weight: 700;
  --text-base: 0.8125rem;
  --text-base--line-height: 1.125rem;
  --text-base--letter-spacing: -0.1px;
  --text-base--font-weight: 500;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 15px;
  --text-xs--letter-spacing: -0.1px;
  --text-xs--font-weight: 500;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 240 27% 98%;
    --foreground: 228 29% 7%;
    --foreground-light: 231 20% 61%;

    --card: 0 0% 100%;
    --card-foreground: 231 37% 63%;

    --popover: 0 0% 100%;
    --popover-foreground: 228 29% 7%;

    --primary: 252 94% 67%;
    --primary-foreground: 0 0% 100%;

    --secondary: 231 67% 99%;
    --secondary-hover: 231 73% 93%;
    --secondary-foreground: 231 36% 63%;

    --tertiary: 231 20% 27%;
    --tertiary-foreground: 231 20% 61%;

    --muted: 0 0% 100%;
    --muted-foreground: 231 37% 63%;

    --accent: 231 67% 99%;
    --accent-foreground: 231 37% 63%;

    --destructive: 0 80% 63%;
    --destructive-foreground: 0 0% 100%;

    --scrollbar: 231 73% 93%;

    --border: 231 15% 90%;
    --input: 231 75% 93%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 233 30% 11%;
    --foreground: 0 0% 100%;
    --foreground-light: 231 75% 93%;

    --card: 233 31% 17%;
    --card-foreground: 231 75% 93%;

    --popover: 233 30% 21%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 94% 67%;
    --primary-foreground: 0 0% 100%;

    --secondary: 233 30% 21%;
    --secondary-hover: 233 30% 25%;
    --secondary-foreground: 231 75% 93%;

    --tertiary: 231 20% 27%;
    --tertiary-foreground: 231 20% 61%;

    --muted: 233 31% 17%;
    --muted-foreground: 231 75% 93%;

    --accent: 233 30% 21%;
    --accent-foreground: 231 75% 93%;

    --destructive: 0 80% 63%;
    --destructive-foreground: 0 0% 100%;

    --scrollbar: 233 31% 17%;

    --border: 231 20% 18%;
    --input: 233 30% 21%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #icon-plus path {
    @apply stroke-primary;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(231, 73%, 93%);
    border-radius: 10px;
  }

  /* Add a thumb */
  html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(233, 31%, 17%);
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

html,
body {
  height: 100%;
}
